.container {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;   
}

.content {
  border: 1px solid gray;
  padding: 5px;
  margin: 50px; 
}

.images, .descriptions {
  display: flex;
  justify-content: space-around;
}

